{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1 class="ui centered header">Your Account</h1>
<div class="ui raised very padded medium inverted orange text container segment">
  <div class="ui raised very padded medium inverted yellow text segment">
    <table class="ui inverted black striped table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for details_title, details_info in details_dict.items() %}
        <tr>
          <td data-label="Title">{{ details_title }}</td>
          <td data-label="Information">{{ details_info }}</td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    <a href="/logout">
      <button class="ui black button">Logout</button>
    </a>
    
  </div>
</div>

{% endblock %}