{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<div class="container">

    <h1 class="heading">Admission</h1>
    <br><br>
    <div class="four-column-card-container">
        <div class="yellow-background card">
            <div class="card-title">
                <h1 class="heading">Upload Batch</h1>
            </div>
            <div class="plain card-content">
                Add a new batch of Students to the Student Management System
                <br><br>
                <button class="button"><a href="/admission/upload-batch">Go To Page</a></button>
            </div>
        </div>
        <div class="yellow-background card">
            <div class="card-title">
                <h1 class="heading">Edit Batch</h1>
            </div>
            <div class="plain card-content">
                Edit an existing Batch in the Student Management System
                <br><br>
                <button class="button"><a href="/admission/edit-batch">Go To Page</a></button>
            </div>

        </div>
        <div class="yellow-background card">
            <div class="card-title">
                <h1 class="heading">Delete Batch</h1>
            </div>
            <div class="plain card-content">
                Discard an existing Batch in the Student Management System
                <br><br>
                <button class="button"><a href="/admission/edit-batch">Go To Page</a></button>
            </div>
        </div>
        <div class="yellow-background card">
            <div class="card-title">
                <h1 class="heading">Search</h1>
            </div>
            <div class="plain card-content">
                Search for a Student or a Batch in the Student Management System
                <br><br>
                <button class="button"><a href="/search">Go To Page</a></button>
            </div>
        </div>
    </div>
</div>


{% endblock %}