{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1 class="ui centered header">Subject Allotment</h1>
<div class="ui raised very padded medium text inverted orange container segment">
    <h2 class="ui centered header">Subject Related</h2>
    <a href="/teachers-dashboard/subject-allotment">
        <button class="ui black button">Subject Allotment</button>
    </a>
    <h2 class="ui centered header">Registration Related</h2>
    <a href="/student-registration/1">
        <button class="ui black button">Student Registration</button>
    </a>
    <a href="/faculty-registration">
        <button class="ui black button">Faculty Registration</button>
    </a>

</div>
{% endblock %}