{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1 class="ui centered header">Attendance</h1>
<div class="ui raised very padded medium inverted orange text  container segment">
    <label for="note">Please enter the student batch details to get the student list.</label><br><br>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="ui fluid input">
            <input type="text" class="ui input" placeholder="Department" name="dept" id="dept"><br>
        </div>
        <div class="ui fluid input">
            <input type="number" class="ui input" placeholder="Year of Admission" name="year_of_admission" id="year_of_admission"><br>
        </div><br>

        <button type="submit" class="ui black button">Get Student List</button>
    </form><br>

</div>
{% endblock %}