<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/style.css') }}">
</head>
<body class="blue-background">
    <div class="heading navbar" id="navbar">
        <ul class="nav-items">
            <li class="nav-item"><a href="/home">Home</a></li>
            <li class="nav-item"><a href="/admission">Admission</a></li>
            <li class="nav-item"><a href="/internal-assesment">Internal Assesment</a></li>
            {% if role == "HOD" %}
                <li class="nav-item"><a href="/admin-dashboard">Admins Dashboard</a></li>
            {% endif %}
            <li class="nav-item"><a href="/teachers-dashboard">Teachers Dashboard</a></li>
            <li class="nav-item"><a href="/account">My Account</a></li>
        </ul>
    </div>
    {% block body %}{% endblock %}
</body>
</html>