{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<img src="../static/imgs/ISBR Logo - Transperent.gif" class="ui small centered image">
<h1 class="ui centered header">Edit Batch</h1>
<div class="ui raised very padded text inverted orange container segment">
    <a href="/edit-batch/add-student">
        <button class="ui green button">Add Student</button>
    </a>
    
    <a href="/edit-batch/edit-student">
        <button class="ui blue button">Edit Student</button>
    </a>

    <a href="/edit-batch/remove-student">
        <button class="ui red button">Remove Student</button>
    </a>


    <a href="/admission">
        <button class="ui black button">Go Back</button>
    </a>

</div>

{% endblock %}