{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="ui raised very padded text container segment">
    <h1>Edit Batch</h1>
    <a href="/edit-batch/add-student">
        <button class="ui green button">Add Student</button>
    </a>

    <a href="/edit-batch/remove-student">
        <button class="ui red button">Remove Student</button>
    </a>

    <a href="/admission">
        <button class="ui black button">Go Back</button>
    </a>

</div>

{% endblock %}