{% extends "plain_page.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

<h1 class="ui centered header">Faculty Registration Form</h1>
<div class="ui raised very padded medium text inverted orange container segment">

    <form action="" method="post" enctype="multipart/form-data">
        <label for="faculty details" class="ui large header">Faculty Details</label><br><br>
        <div class="ui fluid input">
            <input type="text" name="faculty_id" id="faculty_id" class="ui input" placeholder="Faculty ID">
        </div><br>
        
        <div class="ui fluid input">
            <input type="text" name="faculty_name" id="faculty_name" class="ui input" placeholder="Faculty Name">
        </div><br>

        <div class="grouped fields">
            <label>Department</label>
            {% for department in departments %}
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="department" value="{{ department }}">
                        <label>{{ department }}</label>
                    </div>
                </div>
            {% endfor %}
          </div><br><br>

        <div class="grouped fields">
            <label>Designation</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="designation" value="Professor">
                        <label>Professor</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="designation" value="Asst. Professor">
                        <label>Asst. Professor</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="designation" value="HOD">
                        <label>HOD</label>
                    </div>
                </div>
          </div><br><br>
        
        <label for="faculty contact" class="ui large header">Contact Details</label><br><br>

        <div class="ui fluid input">
            <input type="email" name="faculty_email" id="faculty_email" class="ui input" placeholder="Faculty Email">
        </div><br>

        <div class="ui fluid input">
            <input type="tel" name="faculty_contact" id="faculty_contact" class="ui input" placeholder="Faculty Contact">
        </div><br>

        <label for="faculty image" class="ui large header">Faculty Image</label><br><br>
        
        <div class="ui fluid input">
            <input type="file" name="photo" id="photo" class="ui input" accept="png" required>
        </div><br>

        <button type="submit" class="ui black centered button">Submit Details</button>
    </form>
</div>
{% endblock %}