{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<img src="../static/imgs/logo.gif" class="ui small centered image">
<h1 class="ui centered header">Home</h1>
<div class="ui inverted raised very padded medium text inverted orange container segment">
    <div class="ui link cards">
        <div class="card">
            <div class="image">
                <img src="../static/imgs/upload_batch.jpg">
            </div>
            <div class="content">
                <div class=" header"><a href="/admission">Admission</a></div>

                <div class="description">
                    Admit a new batch or a student or remove admission record
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../static/imgs/internal_assesment.jpg">
            </div>
            <div class="content">
                <div class="header"><a href="/internal-assesment">Internal Assesment</a></div>

                <div class="description">
                    Add or update Internal Assesment marks also generate tests.

                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../static/imgs/reports.jpg">
            </div>
            <div class="content">
                <div class="header"><a href="/reports">Reports</a></div>

                <div class="description">
                    Generate Reports for analysis of a batch or a student

                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../static/imgs/search_batch.jpg">
            </div>
            <div class="content">
                <div class="header"><a href="/search">Search</a></div>

                <div class="description">
                    Search for a Student or a Batch in the Student Management System

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}