{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="ui raised very padded medium text container segment">
    <h1>Internal Assesment</h1>
    <div class="ui link cards">
        <div class="card">
            <div class="image">
                <img src="../static/imgs/internal_assesment.jpg">
            </div>
            <div class="content">
                <div class="header"><a href="/edit-batch">Upload Marks</a></div>

                <div class="description">
                    Upload Marks of an existing test that has already been conducted
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../static/imgs/generate_test.jpg">
            </div>
            <div class="content">
                <div class="header"><a href="/delete-batch">Generate Test</a></div>

                <div class="description">
                    Generate a new test with ease for students

                </div>
            </div>
        </div>



    </div>

</div>
{% endblock %}