{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1 class="ui centered header">Internal Assesment</h1>
<div class="ui raised very padded medium  inverted orange text container segment">
    <div class="ui link cards">
        <div class="card">
            <div class="image">
                <img src="../static/imgs/internal_assesment.jpg">
            </div>
            <div class="content">
                <div class="header"><a href="/internal-assesment/upload-marks">Upload Marks</a></div>

                <div class="description">
                    Upload Marks of an existing test that has already been conducted
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="../static/imgs/generate_test.jpg">
            </div>
            <div class="content">
                <div class="header"><a href="/internal-assesment/generate-test">Generate Test</a></div>

                <div class="description">
                    Generate a new test with ease for students

                </div>
            </div>
        </div>



    </div>

</div>
{% endblock %}