{% extends "plain_page.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1 class="ui centered header">Manage Batch Subjects</h1>
<div class="ui raised very padded medium text inverted orange container segment">
    <form action="" method="post" enctype="multipart/form-data">
        <label for="batch details" class="ui large header">Enter Details</label><br><br>
        <div class="ui selection dropdown">
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">Batch</div>
            <div class="menu">
              <div class="item" data-value="1">Male</div>
              <div class="item" data-value="0">Female</div>
            </div>
          </div>
</div>

{% endblock %}