{% extends "plain_page.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<img src="{{ url_for('static',filename='imgs/logo.gif') }}" class="ui small centered image">
<h1 class="ui centered header">Student Registration Form</h1>

<div class="ui raised very padded medium text  inverted orange container segment">

    <form action="" method="post" enctype="multipart/form-data">
        <label for="student details" class="ui large header">Student Details</label><br><br>
        <div class="ui fluid input">
            <input type="text" name="uucms_no" id="uucms_no" class="ui input" placeholder="Roll Number" value="{{ uucms_no }}" disabled>
        </div><br>
        <div class="ui fluid input">
            <input type="text" name="name" id="name" class="ui input" placeholder="Student Name" value="{{ name }}" disabled>
        </div><br>
        <div class="ui fluid input">
            <input type="text" name="course" id="course" class="ui input" placeholder="Course" value="{{ department }}" disabled>
        </div><br>
        <div class="ui fluid input">
            <input type="text" name="batch" id="batch" class="ui input" placeholder="Batch" value="{{ batch }}" disabled>
        </div><br>
        <div class="ui fluid input">
            <input type="number" name="semester" id="semester" class="ui input" placeholder="Semester">
        </div><br>
        <div class="inline fields">
            <label>Stream</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="stream" value="sci">
                    <label>Science</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="stream" value="com">
                    <label>Commerce</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="stream" value="art">
                    <label>Arts</label>
                </div>
            </div>
        </div><br>
            <div class="inline fields">
                <label>Gender</label>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="sex" value="m">
                        <label>Male</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="sex" value="f">
                        <label>Female</label>
                    </div>
                </div>
        </div><br>

        <label for="parent details" class="ui large header">Parent Details</label><br><br>
        
        <div class="ui fluid input">
            <input type="text" name="fathers_name" id="fathers_name" class="ui input" placeholder="Father's Name">
        </div><br>
        <div class="ui fluid input">
            <input type="text" name="mothers_name" id="mothers_name" class="ui input" placeholder="Mother's Name">
        </div><br>

        <label for="contact details" class="ui large header">Contact Details</label><br><br>
        
        <div class="ui fluid input">
            <input type="tel" name="fathers_contact" id="fathers_contact" class="ui input" placeholder="Father's Contact">
        </div><br>
        <div class="ui fluid input">
            <input type="tel" name="mothers_contact" id="mothers_contact" class="ui input" placeholder="Mother's Contact">
        </div><br>
        <div class="ui fluid input">
            <input type="tel" name="students_contact" id="students_contact" class="ui input" placeholder="Student's Contact">
        </div><br>
        <div class="ui fluid input">
            <input type="tel" name="whatsapp_no" id="whatsapp_no" class="ui input" placeholder="WhatsApp Number">
        </div><br>
        
        <label for="student image" class="ui large header">Student's Image</label><br><br>
        
        <div class="ui fluid input">
            <input type="file" name="photo" id="photo" class="ui input" accept="png">
        </div><br>
        <button type="submit" class="ui black centered button">Submit Details</button>
    </form>
</div>
{% endblock %}