{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="ui raised very padded medium text container segment">
    <h1>Subject Allotment</h1>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="ui fluid input">
            <input type="text" name="dept" id="dept" class="ui input" placeholder="Department">
        </div><br>
        <div class="ui fluid input">
            <input type="text" name="semester" id="semester" class="ui input" placeholder="Semester">
        </div><br>
        <div class="ui fluid input">
            <input type="text" name="subject" id="subject" class="ui input" placeholder="Subject">
        </div><br><br>
        <button type="submit" class="ui violet button">Alloted To Teacher</button>
    </form><br><br>
    {% if user_type == 'admin' or user_type == 'hod' %}
        <a href="/teachers-dashboard/subject-allotment/allot">
        <button class="ui violet button">Allot Subject</button>
        </a>
    {% endif %}
    <div class="ui form">
        {% for semester in semesters %}
            <div class="ui radio checkbox">
                <input type="radio" name="semester">
                <label>{{ semester }}</label>
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}