{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<h1 class="ui centered header">Subject Allotment</h1>
<div class="ui raised very padded medium text inverted orange container segment">
    <form action="" method="post">
        <div class="inline fields">
                <label>Select Subject</label>
                {% for subject in subjects %}
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="subject" value="{{ subject }}">
                        <label>{{ subject }}</label>
                    </div>
                </div>
                {% endfor %}
        </div><br>
        <div class="inline fields">
                <label>Select Batch</label>
                {% for batch in batches %}
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="batch" value="{{ batch }}">
                        <label>{{ batch }}</label>
                    </div>
                </div>
                {% endfor %}
        </div><br>

    </form>
</div>

{% endblock %}